#outline{
  stroke-dasharray: 357;
  stroke-dashoffset: 0;
  animation: stroke-animation 1s ease-in forwards;
}
@keyframes stroke-animation {
  from{
      stroke-dashoffset: -357;
  }to{
      stroke-dashoffset: 0;
  }
}
#splash{
  animation: scale-animation 250ms ease-in-out 1s forwards;
}
@keyframes scale-animation {
  from{
      scale: 1;
      height: 100vh;
  }to{
      scale: 0;
      height: 0;
  }
}
*{
  box-sizing: border-box;
  overflow: hidden;
}